.snapshot-manager {
	--grid-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	z-index: 1099;
	width: 80vw;
	height: 75vh;
	min-height: 30em;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--fg-color);
	font-family: arial, sans-serif;
	text-underline-offset: 3px;
	outline: none;
	margin: calc(var(--spacing)*2);
}

.snapshot-manager button {
	width: auto;
	position: relative;
	overflow: hidden;
	font-size: 16px;
	color: var(--input-text);
	background-color: var(--comfy-input-bg);
	border-color: var(--border-color);
	margin: 0;
	min-width: 100px;
	padding: 4px 8px;
}

.snapshot-manager .snapshot-restore-btn {
	background-color: #00158f !important;
	border-color: #2025b9 !important;
	color: white !important;
}

.snapshot-manager .snapshot-remove-btn  {
	background-color: #970000 !important;
	border-color: #be2127 !important;
	color: white !important;
}

.snapshot-manager button:hover {
	filter: brightness(125%);
}

.snapshot-manager .data-btns {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing)*2);
	padding: calc(var(--spacing)*2);
	align-items: center;
	justify-content: center;
	height: 100%;
}

.snapshot-footer {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;
}

.snapshot-manager .cn-flex-auto {
	flex: auto;
}